body {
    margin: 0;
    padding: 0;
    font-family: 'Inria Serif', serif;
    font-weight: 400;
    user-select: none;
}

.background__layer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

.background_gradient {
    background: linear-gradient(180deg, #171B27 0%, rgba(15, 18, 30, 2.16744e-08) 100%);
}

.coin {
    position: fixed;
}

.coin_1 {
    left: 10vw;
    bottom: 10vh;
}

.coin_2 {
    top: 10vh;
    left: 13vh;
}

.coin_3 {
    top: 13vh;
    right: 14vh;
}

.coin_4 {
    left: 80vw;
    bottom: 4vh;
}

.bg_rolette {
    width: 40vw;
    left: 30vw;
    bottom: -30vw;
    position: absolute;
}

.background__layer_bg {
    background: url('./img/bg.png');
    background-size: cover;
    width: 120vw !important;
    height: 120vh !important;
    ;
    left: -10vw !important;
    top: -10vh !important;
    ;
}

.license-text {
    font-size: 24px;
    background: rgba(40, 24, 52, 0.84);
    width: 60vw;
    margin: 20px;
    min-height: calc(100vh - 40px);
    box-sizing: border-box;
    padding: 14px;
    border-radius: 12px;
    color: #fff;
}


.license-text h1 {
    margin-top: 0px;
    text-decoration: underline;
}

.accept_btn {
    position: fixed;
    right: 24px;
    cursor: pointer;
    bottom: -100px;
    transition: all 300ms ease;
}

.view_active .accept_btn {
    bottom: 20px;
}

.license-block {
    position: fixed;
    right: 0%;
    top: 100%;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    transition: all 300ms ease;

}

.view_active .license-block {
    top: 0%;
}

.name-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 300ms ease;
}

.view_active .name-content {
    top: 50%;
}

.name-content h1 {
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
    white-space: nowrap;

}

.name-content input {
    background: rgba(55, 27, 65, 1);
    height: 60px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 30px;
    border: none;
    min-width: 220px;
    padding: 0 10px;
    font-family: 'Inria Serif', serif;
    color: #fff;
    margin: 20px 0;
}

.name-content img {
    width: 207px;
    cursor: pointer;
}

.btn-play {
    width: 90%;
    max-width: 480px;
    position: fixed;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: -100%;
    transition: top 300ms ease;
    cursor: pointer;
}

.view_active .btn-play {
    top: 50%;
}

.menu-top-bar {
    position: fixed;
    width: 100vw;
    top: -48px;
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
    width: 100%;
    transition: top 300ms ease;
}

.view_active .menu-top-bar {
    top: 8px;
}

.info-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-style: italic;
}

.info-block__value {
    background: rgba(28, 10, 33, 1);

    border-radius: 8px;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0 8px;
    margin-left: 8px;
}

.info-block__value img {
    height: 20px;
    margin-right: 4px;
}

.background_rolette {
    background: radial-gradient(61.4% 87.78% at 50% 12.22%, #4B8D14 0%, #1C3008 100%);

}

.rolette-bar {
    position: fixed;
    width: 100vw;
    bottom: -60px;
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: bottom 300ms ease;
    background: linear-gradient(180deg, #944A27 0%, #8D4A25 45.1%, #55270D 100%);
    padding: 10px 2vw;
    box-sizing: border-box;
    box-shadow: 0px -3px 4px 0px rgba(255, 255, 255, 0.18) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.view_active .rolette-bar {
    bottom: calc(100vh - 60px);
}

.home {
    height: 40px;
    cursor: pointer;
}

.rolette-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: calc(-100vh + 60px);
    height: calc(100vh - 60px);
    left: 0px;
    transition: bottom 300ms ease;
    width: 100vw;
}

.view_active .rolette-table {
    bottom: 0px;
}

.rolette {
    width: 20vw;
    /* height: 20vw; */
}

.bets {
    /* width: 15vw; */
    /* max-width: 220px; */
}

.rolette-wrapper {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1px;
    background: #fff;
    padding: 1px;
}

.number {
    color: #fff;
    font-weight: bold;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.number_red {
    background: rgba(216, 22, 22, 1);
}

.number_black {
    background: rgba(43, 43, 43, 1);
}

.rolette-table__numbers-section {
    flex-grow: 1;
    height: calc(100% - 16px);
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-field__first-row {
    display: grid;
    grid-template-columns: 1fr 1fr 12fr 1fr;
    height: 60%;
}

.zero {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
}

.zero:before {
    content: '';
    display: block;
    position: absolute;
    right: -1px;
    top: 0px;
    width: 1px;
    height: 54%;
    background: #fff;
    transform: rotate(-20deg);
    transform-origin: top center;
}

.zero:after {
    content: '';
    display: block;
    position: absolute;
    right: -1px;
    bottom: 0px;
    width: 1px;
    height: 54%;
    background: #fff;
    transform: rotate(20deg);
    transform-origin: bottom center;
}

.b2to1 {
    display: grid;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.b2to1>div {
    border-top: 1px solid #fff;
}

.game-field__second-row {
    display: grid;
    height: 20%;
    grid-template-columns: 1fr 1fr 12fr 1fr;
}

.n12 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-right: 1px solid #fff;
}

.n12 div,
.oddeven-bets div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    font-size: 12px;
    padding: 8px 0;
}

.oddeven-bets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-right: 1px solid #fff;
}

[data-bet] {
    position: relative;
    cursor: pointer;
}

.rolette-table__numbers-section-first-row {
    display: grid;
    grid-template-columns: 1fr 100px;
    width: 100%;
    height: calc(100vh - 140px)
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(22, 22, 22, 0.34);
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 12px;
}

.actions>* {
    width: calc(25% - 7px);
    max-width: 104px;
    transition: transform 300ms ease;
}

.actions>*:active {
    transform: scale(0.8);
}

.actions>*:not(:first-child) {
    margin-left: 4px;
}

.bet-values img {
    width: 24px;
    margin-right: 4px;
}

.bet-values {
    box-sizing: border-box;
    padding: 0px 8px;
    color: #fff;
    font-size: 14px;
}

.bet-values>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.bet-values>div:not(:first-child) {
    margin-top: 8px;
}

.bet-value__active {
    background: rgba(22, 22, 22, 0.34);
    border-radius: 8px;
}

.chips img {
    position: absolute;
    left: 0px;
    top: 1px;
    width: 18px;
}

.chips img:nth-of-type(2) {
    top: 3px;
}

.chips img:nth-of-type(2) {
    top: 5px;
}

.chips img:nth-of-type(3) {
    top: 7px;
}

.chips img:nth-of-type(4) {
    top: 9px;
}

.chips img:nth-of-type(5) {
    top: 11px;
}

.chips img:nth-of-type(6), .chips img:nth-of-type(7), .chips img:nth-of-type(8), .chips img:nth-of-type(9), .chips img:nth-of-type(n + 9) {
    top: 13px;
}

.rolette-container {
    position: relative;
}

.ball {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

}

.rolette_с {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.rolette_с_active {
    transition: transform 5000ms cubic-bezier(0, 0, 0.51, 1.15);
    /* transition: transform 5000ms cubic-bezier(0, 0, 0.43, 1.13);     */
}

.ball_active {
    transition: transform 5000ms ease-out;
}

.chat {
    position: fixed;
    left: 8px;
    bottom: -300px;
    z-index: 22;
    padding: 8px;
    max-width: 30vw;
    border-radius:  0px 0px 8px 8px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 100%);
    max-height: 100px;
    box-sizing: border-box;
    overflow-y: scroll;
    font-style: italic;
    transition: bottom 300ms ease;
}

.view_active .chat {
    bottom: 8px;
}

.chat {
    color: #fff;
}

.chat img {
    height: 20px;
    margin: 0 1px;
    vertical-align: middle;
}

.author_LR {
    color: rgb(11, 141, 24);
    font-weight: bold;
}


